﻿@{
    ViewData["Title"] = "Home";
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<body>
    <p></p>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/images/shutterstock_Nestor-Rizhniak.jpg" alt="First slide" height="500" width="100">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/images/13-junio-colgate-.jpg" alt="Second slide" height="500" width="100">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/images/seccion-odontologos.jpg" alt="Third slide" height="500" width="100">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <br />
    <table align="center">
        <tr>

            <td width="400"><div class="form-group" style="" align="center"><label>@Html.ActionLink("Pacientes", "Index", "PacientesOdontologia")</label><hr /><img src="~/images/descargar.png" height="128" width="128" style="text-align: center;" aling=""> </div></td>
            <td width="400"><div class="form-group" style="" align="center"><label>Agenda</label><hr /><img src="~/images/126790.png" height="128" width="128" style="text-align: center;" contenteditable="true" spellcheckker="false"></div></tdwidth="400">
            <td width="400"><div class="form-group" style="" align="center"><label>Procedimientos</label><hr /><img src="~/images/free-dentista-tools-vectors.jpg" height="128" width="128" style="opacity: 1; text-align: center;"></div></td>

        </tr>
    </table>
</body>
