﻿@model IEnumerable<ClinicaDental.Models.PacientesClinica>

@{
    ViewBag.Title = "Pacientes";
}

<h2>Pacientes</h2>

<div class="col-lg-2 col-md-2">
    <div class="form-group">
        <a href="@Url.Action("Create")" class="btn btn-primary">Agregar Paciente</a>
    </div>
</div>
<table class="table">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>

        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>

            <td>
                <a href="@Url.Action("Edit", new { id = item.Id })" data-toggle="tooltip" title="Editar"><span class="glyphicon glyphicon-edit"></span></a>


            </td>
        </tr>
    }


</table>
