﻿@model ClinicaDental.Models.PacientesClinica

@{
    ViewBag.Title = "Create";
}
<script type="text/javascript">
    $("#AlergiaActiva").change(function () {
        if (document.getElementById('AlergiaActiva').checked) {
            $("#NombreAlergia").removeAttr('readonly');

        }
        else {
            $("#NombreAlergia").attr({

                'readonly': 'readonly'
            });


        }

    });
</script>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<section>
    <h4>Pacientes Clinica</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="col-lg-6 col-md-6">
        <div class="form-group">
            <label>Genero</label>

            @Html.DropDownList("Genero_id", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Genero_id, "", new { @class = "text-danger" })
        </div>


        <div class="form-group">
            <label>Codigo</label>

            @Html.EditorFor(model => model.Codigo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Codigo, "", new { @class = "text-danger" })
        </div>


        <div class="form-group">
            <label>Nombre</label>

            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            <label>Apellido</label>
            @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            <label>Fecha Nacimiento</label>

            @Html.EditorFor(model => model.FechaNacimiento, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
            @Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            <label>Telefono</label>

            @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            <label>Direccion</label>

            @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })

        </div>



        <div class="form-group">
            <label>Correo Electronico</label>

            @Html.EditorFor(model => model.CorreoElectronico, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CorreoElectronico, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">

            <label>Fecha Primera Cita</label>
            @Html.EditorFor(model => model.FechaPrimeraCita, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
            @Html.ValidationMessageFor(model => model.FechaPrimeraCita, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            <label>Motivo Primera Cita</label>

            @Html.EditorFor(model => model.MotivoPrimeraCita, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MotivoPrimeraCita, "", new { @class = "text-danger" })

        </div>
    </div>

    <div class="col-lg-6 col-md-6">

        <div class="form-group">
            <label>Peso</label>

            @Html.EditorFor(model => model.Peso, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Peso, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            <label>Pulso</label>

            @Html.EditorFor(model => model.Pulso, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Pulso, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            <label>Temperatura</label>
            @Html.EditorFor(model => model.Temperatura, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Temperatura, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            <label>Presion Arterial</label>

            @Html.EditorFor(model => model.PresionArterial, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PresionArterial, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            <label>Nombre Medico Cabecera</label>
            @Html.EditorFor(model => model.NombreMedicoCabecera, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NombreMedicoCabecera, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            <label>Telefono Medico</label>
            @Html.EditorFor(model => model.TelefonoMedico, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TelefonoMedico, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            <label>Nombre Referencia</label>
            @Html.EditorFor(model => model.NombrePersonaReferencia, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NombrePersonaReferencia, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            <label>Alergias</label>
            <div class="checkbox">
                @Html.CheckBoxFor(model => model.Alergias, new { @id = "AlergiaActiva" })
                @Html.ValidationMessageFor(model => model.Alergias, "", new { @class = "text-danger" })
            </div>

        </div>

        <div class="form-group">
            <label>Nombre Alergia</label>
            @Html.EditorFor(model => model.NombreAlergia, new { @class = "form-control", @readonly = "readonly", @id = "NombreAlergia" })
            @Html.ValidationMessageFor(model => model.NombreAlergia, "", new { @class = "text-danger" })
        </div>


        <div class="form-group">
            <label>Nombre Medicamento</label>
            @Html.EditorFor(model => model.NombreMedicamento, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NombreMedicamento, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            <label>Observaciones Cirujano</label>
            @Html.EditorFor(model => model.ObservacionesCirujano, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ObservacionesCirujano, "", new { @class = "text-danger" })

        </div>
        <div class="panel-footer">

            <input type="submit" value="Create" class="btn btn-primary" />
            <a href="@Url.Action("Index")" class="btn btn-default">Regresar</a>

        </div>


    </div>
</section>

        }



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
