﻿@model ClinicaDental.Models.PacientesClinica

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PacientesClinica</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorreoElectronico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorreoElectronico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaPrimeraCita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaPrimeraCita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotivoPrimeraCita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotivoPrimeraCita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Peso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pulso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pulso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Temperatura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Temperatura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PresionArterial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PresionArterial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreMedicoCabecera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreMedicoCabecera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonoMedico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonoMedico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombrePersonaReferencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombrePersonaReferencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alergias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alergias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreAlergia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreAlergia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreMedicamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreMedicamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ObservacionesCirujano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ObservacionesCirujano)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genero.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genero.Value)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
